.custom-navbar {
  border-radius: 0 0 30px 30px;
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

.brand-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ccc !important;
}

.nav-links {
  width: 100%;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.nav-links a {
  font-weight: bold;
  color: white !important;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #00f5ff !important;
  transform: scale(1.05);
}


.language-selector {
  border-radius: 20px;
  padding: 6px 14px;
  background-color: #00f5ff;
  border: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.language-selector:hover {
  background-color: #00e0e0;
}

@media (max-width: 768px) {
  .language-selector {
    font-size: 13px;
    padding: 4px 10px;
    margin-top: 5px;
  }
}
